<div class = "editentry">
  <h1>Edit Entry</h1>
  <%#edit.html.erb  is renderd when a logged in user clicks the edit link next to his entries.
  Then the partial form opens so that the user can edit the selected entry.%>
  <%=render 'form'%>
  <%= link_to 'Back', entries_path%>
</div>
