<div class = "editentry">
  <h1>Edit Entry</h1>
  <br />
  <%= form_for :entry, url: entries_path(@entry), method: :path do |f|%>

  <%end%>

  <%=render 'form'%>
  <%= link_to 'Back', entries_path%>
</div>
