<div class = "newentry">
  <%#The below code renders the partial form that allows a user to make a new entry%>
  <%=render 'form'%>
  <%#Below is the back button that takes a visitor back to the index page and shows all the entriesy%>
  <div class="back">
    <button type="button" class="btn btn-default"><%= link_to 'Back', entries_path%> </button>
  </div>
</div>
