<div class = "newentry">
  <h1>New Entry</h1>
  <br />
  <!-- another case of a duplicate form that doesn't do anything and should be removed -->
  <%= form_for :entry, url: entries_path do |f|%>
  <%end%>
  <%=render 'form'%>

  <%= link_to 'Back', entries_path%>
</div>
