@import "bootstrap-sprockets";
@import "bootstrap";


.scholarships {
  color: #595959;
  position: relative;
  right: -10px;
  top: -10px;
}
.categories {
  border-spacing: 12px;
  border-collapse: separate;
  margin: 25px 0 0 0;
  position: relative;
  td {
    padding: 8px;
    border: 1px solid #E3E3E3;
    font-weight: bold;
  }
  td:hover {
    background-color: #ffff99;
  }
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: black;
}

button {
  margin: auto;
}

.heading {
  color: #484848;
}

.container {
  border-color: black;
  // margin-left: 15px;
}

.title {
    width: 850px;
    height: 40px;
    border-bottom: 2px solid #E3E3E3;
    border-top: 2px solid #E3E3E3;
    th {
      font-size: 20px;
      padding: 15px;
      width: auto;
      font-family:serif;
      text-align: center;
      color: white;
      background-color: #919999;
    }
}
.body {
  height: 100px;
  font-size: 18px;
  align-items: center;
  font-family: serif;
  td {
    background-color: #ffff99;
    padding:15px;
    width: auto;
    text-align: center;
  }

}

.author {
  td {
    font-size: 12px;
    color: gray;
    font-family: serif;
    padding: 2px 10px 2px 5px;
  }
  width: auto;
  border-bottom: 2px solid #E3E3E3;
}

.entry_button {
  position: relative;
  right: -10px;
  margin-top: 20px;
  button {
    background-color: #919999;
    color: white;
    font-size: bold 16px;
    font-weight: bold;
  }
  a {
    color: white;
  }
  a:hover{
    color: gray;
  }
  button:hover {
    background-color: white;
  }
}

.login {
  margin: auto;
  text-align: center;
  margin-top: 70px;
  color:#484848;
}

.signup {
  margin: auto;
  text-align: center;
  margin-top: 70px;
  color:#484848;
}

.update {
  margin: auto;
  text-align: center;
  margin-top: 70px;
  color:#484848;
}

.forgot {
  margin: auto;
  text-align: center;
  margin-top: 70px;
  color:#484848;
}

.contact {
  margin: auto;
  text-align: center;
  margin-top: 70px;
  color:#484848;
}

.newentry {
  margin: auto;
  text-align: center;
  margin-top: 70px;
  color:#484848;
}

.editentry {
  margin: auto;
  text-align: center;
  margin-top: 70px;
  color:#484848;
}

.table {
  text-align: center;
  border-spacing: 0.5rem;
  width: 400px;
  td {
    font-size: 18px;
    width: 200px;
  }

}

// tr {
//   padding: 10px;
//   font-size: 12px;
//   width: 120px;
// }
.paginate {
  text-align: center;
  position: relative;
  top: 150px;
}

.back {
  text-align: center;
  position: relative;
  top: 30px;
  button {
    background-color: white;
    font-size: bold 16px;
    font-weight: bold;
  }
  a {
    color: #919999;
  }
  a:hover{
    color: black;
  }
  button:hover {
    background-color: #ffff99;
  }
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 1px;
}
