@import "bootstrap-sprockets";
@import "bootstrap";



.categories {
  position: relative;
  display: block;
  border-bottom: 1px solid #E3E3E3;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: black;
}

button {
  margin: auto;
}

.heading {
  color: #484848;
}

.container {
  border-color: black;
  // margin-left: 15px;
}

.entries {
  width: 850px;
  height: 350px;
  td {
    font-size: 14px;
    padding: 1px;
    margin-left: 20px;
  }
}

.title {
    width: 850px;
    border-bottom: 2px solid #E3E3E3;
    border-top: 2px solid #E3E3E3;
    th {
      font-size: 15px;
      padding: 1px;
      margin-left:20px;
      font-family:monospace;
    }
}

.author {
  td {
    font-size: 12px;
  }
  border-bottom: 1px solid #E3E3E3;
}

.login {
  margin: auto;
  text-align: center;
  margin-top: 70px;
  color:#484848;
}

.signup {
  margin: auto;
  text-align: center;
  margin-top: 70px;
  color:#484848;
}

.update {
  margin: auto;
  text-align: center;
  margin-top: 70px;
  color:#484848;
}

.forgot {
  margin: auto;
  text-align: center;
  margin-top: 70px;
  color:#484848;
}

.contact {
  margin: auto;
  text-align: center;
  margin-top: 70px;
  color:#484848;
}

.newentry {
  margin: auto;
  text-align: center;
  margin-top: 70px;
  color:#484848;
}

.editentry {
  margin: auto;
  text-align: center;
  margin-top: 70px;
  color:#484848;
}

.table {
  text-align: center;
  border-spacing: 0.5rem;
  width: 400px;
  td {
    font-size: 18px;
    width: 200px;
  }

}

tr {
  padding: 10px;
  font-size: 12px;
  width: 120px;
}
.paginate {
  text-align: center;
  position: relative;
  top: 150px;
}
